
#bloque_principal{
    margin-top: 80px;
    border: solid black 1px;
    padding: 50px;
}

img{
    width: 240px;
    height: 220px;
    
}

#datospersonales{
    margin-top: 20px;
    color: rgb(0, 85, 138);
}

#estudios_cursados{
    text-align: left;
    color:  rgb(0, 85, 138);
}

#experiencia_laboral{
    color:  rgb(0, 85, 138);
}

#objetivos{
    color: rgb(0, 85, 138) ;
}

